.tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}
.item {
    padding: 0 12px;
    &:hover {
        cursor: pointer;
    }
}

.text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text-color);
    padding: 8px 0;
}

.text.active {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.tab1-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text-color);
    padding: 8px 8px 12px 8px;
}

.tab3-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab3-content {
    margin-top: 8px;
}

.tab4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.tab4-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--primary-color);
    padding: 8px 8px 12px 8px;
}

.title {
    padding: 8px 12px;
}

.tab2-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes hover {
    0% {
        left: 0;
        width: 100%;
        top: 0;
    }
    100% {
        left: -2%;
        width: 104%;
        top: -2%;
    }
}

.album-img {
    width: 140px;
    height: 140px;
    &:hover {
        cursor: pointer;
        .item-img {
            animation: hover 0.3s linear forwards;
        }
    }
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.item-img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.item-name {
    text-align: center;
}
