.wrapper {
    margin-bottom: 100px;
    min-height: 80vh;
}

// playlist
.playlist {
    cursor: pointer;
}

.playlist-header {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    span {
        padding: 4px 0px;
    }
    margin: 12px 0;
}

.playlist-header-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

.model-content {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model-content p {
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
}

.model-input {
    width: 70%;
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: 99px;
    outline: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    height: 36px;
    padding: 0 12px;
    margin: 12px 0;
    &:focus {
        border-color: var(--primary-color);
    }
}

// content
.content {
    margin-top: 24px;
}

.content-header {
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.content-header-item {
    padding: 4px 0;
}

.content-header-item.active {
    border-bottom: 1px solid var(--primary-color);
}

.content-header-item:nth-child(2) {
}

.content-body__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
}

.content-body__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
}

.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.album__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}
