.wrapper {
    margin-bottom: 100px;
    min-height: 80vh;
}

// playlist
.playlist {
    cursor: pointer;
}

.playlist-header {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    span {
        padding: 4px 0px;
    }
    margin: 12px 0;
}

.playlist-header-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        transform: scale(1.1) translateZ(0);
    }
    transition: transform 0.4s;
}

.playlist-header-add-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    background-color: var(--background-color);
    &:hover {
        color: var(--primary-color);
        transform: scale(1.1) translateZ(0);
    }
    transition: transform 0.4s;
}

.model-content {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model-content p {
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
}

.model-input {
    width: 70%;
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: 99px;
    outline: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    height: 36px;
    padding: 0 12px;
    margin: 12px 0;
    &:focus {
        border-color: var(--primary-color);
    }
}

// content
.content {
    margin-top: 24px;
}

.content-header {
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.content-header-item {
    padding: 4px 0;
}

.content-header-item.active {
    border-bottom: 1px solid var(--primary-color);
}

.content-header-item:nth-child(2) {
}

.content-body__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
}

.content-body__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
}

.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.album__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

// no playlist
.song-img {
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &:hover {
        .overlay {
            display: flex;
        }
        .img-content {
            transform: scale(1.1) translateZ(0);
        }
    }
    overflow: hidden;
}

.img-content {
    width: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.overlay {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overplay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.overlay-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.close-icon-wrapper {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
}

.more-icon-wrapper {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
}

.close-icon {
    width: 20px;
    height: 20px;
    color: var(--primary-color);
}

.song-name {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 4px 0px;
    color: var(--text-color);
}

.song-author {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color);
}
