:root {
    --primary-color: #4d2ea8;
    --delete-color: #ff0000;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --icon-color: rgba(22, 24, 35, 0.4);
    --background-color: rgb(217, 210, 249);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
