.wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

@keyframes fadeIn {
    from {
        top: 400px;
        bottom: -400px;
    }
    to {
        top: 60px;
        bottom: 0;
    }
}
.page_lyrics {
    position: fixed;
    z-index: 10;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 60px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.info-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.info-song {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 12px;
    line-height: 2rem;
}

.info-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.8;
    flex-direction: column;
}

.page_lyrics-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 500px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.button-list.active .button-icon {
    color: var(--primary-color);
}

.button-list-play,
.button-list-pause {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 1px solid rgb(241, 239, 246);
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.button-icon-play {
}

.range {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range span {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 6px;
    line-height: 2rem;
}

.input {
    width: 70%;
}

.more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.more-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.more-volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 90px;
}
.split {
    height: 30px;
    width: 1px;
    border-left: 1px solid var(--text-color);
    margin-left: 16px;
    margin-right: 8px;
}

.more-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

// lyrics

.lyrics {
    height: 100%;
    width: 100%;
}

.lyrics-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyrics-logo {
    flex: 1;
}

.lyrics-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lyrics-title p {
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
    border-radius: 99px;
    background-color: rgb(177, 165, 230);
    padding: 0 24px;
    cursor: pointer;
}

.lyrics-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lyrics-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lyrics-content-img {
    flex: 1;
    padding: 24px;
}

.lyrics-content-text {
    flex: 2;
    padding: 24px;
    overflow: auto;
}
