.wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    display: flex;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    transition: height 0.3s ease-out;
}

.show {
    display: none;
}

.wrapper.small,
.page_lyrics.small {
    display: none;
}

.responsive {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.responsive-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    &:hover {
        background-color: var(--white-color);
    }
    border: 1px solid var(--background-color);
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.wrapper.page_lyrics {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.info-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.info-song {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 12px;
    line-height: 2rem;
}

.info-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.8;
    flex-direction: column;
}

.page_lyrics-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 500px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.button-list.active .button-icon {
    color: var(--primary-color);
}

.button-list-play,
.button-list-pause {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 1px solid rgb(241, 239, 246);
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
        border-color: var(--primary-color);
        .button-icon-play {
            color: var(--primary-color);
        }
        .button-icon-pause {
            color: var(--primary-color);
        }
    }
    cursor: pointer;
}

.more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.more-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.more-volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 90px;
}
.split {
    height: 30px;
    width: 1px;
    border-left: 1px solid var(--text-color);
    margin-left: 16px;
    margin-right: 8px;
}

.more-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

// lyrics

.lyrics {
    height: 100%;
    width: 100%;
}

.lyrics-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyrics-logo {
    flex: 1;
}

.lyrics-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lyrics-title p {
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
    border-radius: 99px;
    background-color: rgb(177, 165, 230);
    padding: 0 24px;
    cursor: pointer;
}

.lyrics-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lyrics-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lyrics-content-img {
    flex: 1;
    padding: 24px;
}

.lyrics-content-text {
    flex: 2;
    padding: 24px;
    overflow: auto;
}

// small audio
.small-audio {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 160px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 99px;
    margin: 12px 8px;
}

.small-audio-content,
.responsive-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressBar {
    width: 400px;
}

.range span {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4px;
}
