.banner {
    height: 260px;
    position: relative;
}
.banner-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
}

.banner-user {
    align-items: flex-end;
    bottom: -70px;
    display: flex;
    left: 40px;
    position: absolute;
    z-index: 1;
}

.user-img {
    border-radius: 50%;
    height: 9em;
    object-fit: cover;
    width: 9em;
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.1);
}

.user-name {
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-color);
}

.container {
    margin-top: 100px;
    padding: 0px 24px;
}

.introduce,
.service {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 20px;
    padding: 18px 14px;
}

.introduce-header {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
    padding: 8px;
}

.introduce-text {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
    padding: 6px;
}

.service {
    list-style: none;
    margin: 0;
}

.service-item {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
    padding: 8px;
    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}
