.container {
    margin-bottom: 60px;
    min-height: 100vh;
    display: flex;
}

.mobile .container {
    padding: 0;
    display: block;
}

.mobile .content {
    max-width: 100%;
    padding: 0;
}
.content {
    max-width: calc(100% - 160px);
    padding: 0 28px 0 20px;
    flex: 1 1;
}

.sidebar {
    flex-shrink: 0;
}

.navigate {
    margin-top: 18px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate-icon {
    font-size: 2.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 12px;
}

.navigate-icon.active {
    color: var(--primary-color);
    &:hover {
        cursor: pointer;
    }
}
