// content
.content {
    margin-bottom: 24px;
}

.container {
    height: 400px;
    overflow: auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.content-header p {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 4px 12px;
}

.mobile .header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px;
}

.content-header-all {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
}

.content-header-all p {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 6px;
    &:hover {
        color: var(--primary-color);
    }
}

.wrapper.active {
    background-color: var(--background-color);
}

.wrapper:last-child {
    border-bottom: 1px solid var(--border-color);
}

.song {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.img-play {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.img-play-icon {
    color: var(--white-color);
}

.img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 6px;
    margin: 0 8px;
}

.icon {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 4px;
}

.input {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-color);
    width: 16px;
    height: 16px;
    margin: 0 4px;
    display: none;
}

.name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.author {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.album {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
}

.action {
    display: none;
    justify-content: center;
    align-items: center;
}

.action-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action-wrapper-lyrics {
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action-item {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 8px;
}

.duration {
    display: block;
}
