// content
.content {
    margin-top: 32px;
}

.mobile {
    padding: 0 4px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.content-header p {
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-color);
}

.content-header-all {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
}

.content-header-all p {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 6px;
    &:hover {
        color: var(--primary-color);
    }
}

.content-song {
    display: flex;
}

.song-list {
    margin-bottom: 22px;
}

.song-img {
    display: flex;
    position: relative;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
        .overlay {
            display: flex;
        }
        .img-content {
            transform: scale(1.1) translateZ(0);
        }
    }
    overflow: hidden;
}

.img-content {
    transition: transform 0.7s;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.overlay {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.overplay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.overlay-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.song-name {
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: 12px;
    color: var(--text-color);
    line-height: 2.2rem;
}

.song-author {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color);
}
