.line-text {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 3.4rem;
}

.active {
    color: var(--primary-bold);
}

.wrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 480px;
    width: 100%;
    overflow: auto;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 3.4rem;
}

.lyric {
    width: 100%;
}

// loading
.item {
    width: 80%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-size: 250% 250%;
    background-position: left;
    background-image: linear-gradient(
        60deg,
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986),
        rgba(5, 5, 5, 0.1),
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986),
        rgba(253, 253, 255, 0.986)
    );
    margin: 8px 0;
}

.no-lyric {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-lyric p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 3.4rem;
}
