.wrapper {
    margin-top: 16px;
}

// content

.content {
    max-height: 80vh;
    overflow: auto;
}

.content-header {
    list-style: none;
    padding: 0;
    display: flex;
}

.content-header-item {
    padding: 0px 4px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
    text-align: justify;
}

.content-header-item span {
    color: var(--primary-color);
}

.content-header-item.active {
    border-bottom: 1px solid var(--primary-color);
}

.content-header-item:nth-child(2) {
}

.content-body__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.content-body__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
    padding: 8px 0;
}

.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.album__item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.content-song {
    display: flex;
}

.song-img {
    position: relative;
    width: 100%;
    height: 260px;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        .overlay {
            display: flex;
        }
        .img-content {
            animation: hover linear 0.3s forwards;
        }
    }
    overflow: hidden;
}

@keyframes hover {
    0% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    100% {
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
    }
}

.img-content {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.overplay-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.overlay-icon {
    color: var(--white-color);
    font-size: 2rem;
}

.song-name {
    font-weight: 400;
    font-size: 1.8rem;
    padding: 8px 0px;
    color: var(--text-color);
    text-align: center;
}

.song-author {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color);
    padding: 0 2px;
}

.list-author {
    text-align: center;
}
