.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.wrapper {
    margin-top: 48px;
}

.mobile .header-title {
    width: 250px;
}

.mobile .loading-item {
    margin-bottom: 18px;
}
.header-title {
    width: 300px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-size: 250% 250%;
    background-position: left;
    background-image: linear-gradient(
        60deg,
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(255, 255, 255, 0.1),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6)
    );
}

.item-loading {
    height: 140px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-size: 250% 250%;
    background-position: left;
    background-image: linear-gradient(
        60deg,
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(255, 255, 255, 0.1),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6)
    );
}

.item-title-loading {
    margin-top: 8px;
    width: 100%;
    height: 26px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-size: 250% 250%;
    background-position: left;
    background-image: linear-gradient(
        60deg,
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(255, 255, 255, 0.1),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6)
    );
}

.single-item {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    margin: 8px 0;
    border: 1px solid var(--border-color);
    background-size: 250% 250%;
    background-position: left;
    background-image: linear-gradient(
        60deg,
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(255, 255, 255, 0.1),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6),
        rgba(217, 210, 249, 0.6)
    );
}
