.wrapper {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 11;
}

.icon-chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: belleffect 2s linear infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-chat.hidden {
    display: none;
}

.notify {
    position: absolute;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--primary-color);
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.icon.hidden {
    display: none;
}

@keyframes belleffect {
    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 5px rgba(30, 144, 255, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(115, 186, 255, 0.4), 0 0 0 20px rgba(30, 144, 255, 0.2);
    }
}

.content {
    width: 338px;
    height: 454px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 2px 2px 8px 8px rgba(30, 144, 255, 0.2);
}
