.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 300px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: var(--white-color);
    padding: 2px 12px;
    border-radius: 99px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.content {
    margin-top: 4px;
    max-height: 75vh;
    overflow: auto;
    width: 100%;
}

.content-header {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.content-header-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 8px;
}

.text-album {
    padding-left: 8px;
    color: var(--primary-color);
    text-align: justify;
}
