.wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    animation: show ease-in 0.5s forwards;
    overflow: hidden;
}

@keyframes show {
    from {
        opacity: 0.3;
        transform: translate(0, 70%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.show {
    display: none;
}

.wrapper.small {
    display: none;
}

.responsive {
    position: absolute;
    right: 6px;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.responsive-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    &:hover {
        background-color: var(--white-color);
    }
    border: 1px solid var(--background-color);
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.info-song p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    &:hover {
        cursor: default;
    }
    padding: 0 8px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 8px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.button-list.active .button-icon {
    color: var(--primary-color);
}

.button-list-play,
.button-list-pause {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 1px solid rgb(241, 239, 246);
    margin: 0 4px;
    &:hover {
        background-color: rgb(241, 239, 246);
        border-color: var(--primary-color);
        .button-icon-play {
            color: var(--primary-color);
        }
        .button-icon-pause {
            color: var(--primary-color);
        }
    }
    cursor: pointer;
}

.large .button-list-play,
.large .button-list-pause {
    width: 50px;
    height: 50px;
}
.button-icon-load {
    animation: rotate 1.5s linear infinite;
    color: var(--primary-color);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.more-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin: 0 4px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.more-volume {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    width: 90px;
}
.split {
    height: 30px;
    width: 1px;
    border-left: 1px solid var(--text-color);
    margin-left: 16px;
    margin-right: 8px;
}

.more-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    cursor: pointer;
    &:hover {
        background-color: rgb(241, 239, 246);
    }
}

.body {
    padding: 0 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    position: relative;
    padding: 12px 36px;
    width: 100%;
}

.header-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    flex: 1;
}

.header-item.active {
    color: var(--primary-color);
}

.header-icon {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-50%);
}

.song {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.song-img {
    margin: 20px;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    display: none;
}

.song-img.active {
    display: block;
}

.song-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
}

.playlist-body {
    overflow: auto;
    height: 60vh;
}

.playlist-header {
    padding-top: 6px;
    padding-bottom: 12px;
}

.playlist-header p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4px;
}

.playlist-header span {
    color: var(--primary-color);
}

// footer
.footer {
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lyric {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    height: 60vh;
}
// small audio
.small-audio {
    position: fixed;
    right: 4px;
    bottom: 60px;
    z-index: 100;
    height: 60px;
    width: 160px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(216, 210, 246, 0.5);
    box-sizing: content-box;
    border-radius: 99px;
    margin: 4px 8px;
    touch-action: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        border-width: 5px;
        box-shadow: 10px 8px 10px rgba(24, 24, 24, 0.1);
    }
}

.responsive-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progressBar {
    width: 100%;
}

.range span {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 4px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
