.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0;
    z-index: 99;
    background-color: var(--white-color);
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile .logo {
    width: 80px;
    justify-content: center;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    margin: 0 8px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.logo-text {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    padding: 2px 4px;
}

// action

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 200px;
}

.mobile .action {
    width: 80px;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user-wrapper {
    width: 200px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.user-name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 8px;
    max-width: 120px;
    display: block;
}

// login
.authentication-web {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-web a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 10px;
}

.authentication-web {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
    padding: 4px 10px;
}

.mobile-login {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
    padding: 4px;
}

.register {
    position: relative;
}

.register::before {
    position: absolute;
    content: '';
    height: 60%;
    border-right: 1px solid var(--border-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
