.wrapper {
    height: 66px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.05);
    width: 100%;
    z-index: 99;
    background-color: var(--white-color);
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
}

.header {
    height: 66px;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile .header {
    padding: 0 8px;
}

.logo {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.mobile .logo {
    justify-content: center;
    flex-shrink: 0;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.logo-img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.logo-text {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 10px;
}

.logo-text a {
    color: var(--primary-color);
}

.navigate {
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    &:hover {
        cursor: pointer;
        .back-icon {
            transform: translateX(-3px);
            color: var(--primary-color);
        }
        .navigate-text {
            color: var(--primary-color);
        }
    }
}

.back-icon {
    transition: transform ease-in 0.3s;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--light-color);
}

.navigate-text {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--light-color);
    padding-left: 4px;
}

// action

.action {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.mobile .action {
    flex-shrink: 0;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.user-wrapper {
    width: 200px;
}

.user-img {
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

.user-img-clone {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-text {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.user-name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 120px;
    overflow: hidden;
    display: block;
    padding-left: 10px;
}

// login
.authentication-web {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-web a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 10px;
}

.authentication-web {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
    padding: 4px 10px;
}

.mobile-login {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    &:hover {
        color: var(--primary-color);
    }
    cursor: pointer;
    padding: 4px;
}

.register {
    position: relative;
}

.register::before {
    position: absolute;
    content: '';
    height: 60%;
    border-right: 1px solid var(--border-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
