.wrapper {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1.5px solid var(--border-color);
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    &:focus-within {
        border-color: var(--primary-color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.input {
    padding: 4px 8px;
    flex: 1;
    outline: none;
    border-radius: 99px;
    border-color: transparent;
    caret-color: var(--primary-color);
}

.clear,
.loading {
    padding: 4px;
    color: var(--icon-color);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.split {
    height: 30px;
    content: ' ';
    border-right: 2px solid var(--border-color);
}

.search-btn {
    width: 40px;
    height: 40px;
    background-color: rgba(22, 24, 35, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.1);
    }
    color: rgba(22, 24, 35, 0.4);
}

// search result
.search-result {
    width: 260px;
}

.search-result-body {
    padding: 0 12px;
}

.search-result-header {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.result-icon {
    padding: 0 8px;
    color: var(--icon-color);
    height: 16px;
}

.result-text {
    color: var(--icon-color);
}

.result-content {
    padding: 8px 0;
}

.result-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    width: 100%;
    border-radius: 0;
    font-weight: 500;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
.result-item-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.result-item-decription {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 8px;
}
